/* Pricing */

.pricing {
      background: #F7FCFC;
      position: relative;
      z-index: 1;
      overflow: hidden;
}

.pricing__content {
      padding-top: 8rem;
      padding-bottom: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin: auto;
}

.pricing__title .card-long .card__descrip.card__descrip--green {
      text-align: center;
}

.pricing__title,
.pricing__cards,
.pricing__btn {
      display: flex;
      justify-content: center;
      width: 100%;
}

.pricing__cards {
      margin-bottom: 2rem;
}

.pricing__cards {
      display: flex;
      gap: 1rem;
      align-items: center;
}

.pricing-card__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
}

.pricing__card--one, .pricing__card--three {
      width: 30%;
      background: #E1EBEB;
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      position: relative;
}

.pricing__card--two {
      width: 40%;
      background: #E1EBEB;
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      position: relative;
}

.pricing-card__bg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      z-index: 0;
}

.pricing-card__bg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
}

.pricing__card--two h3, .pricing__card--two .pricing-card__price {
      font-size: 1.3rem;
}

.pricing-card__price {
      font-weight: 700;
}

.pricing-card__descrip {
      text-align: center;
}

.pricing__card--one, .pricing__card--three {
      min-height: 9rem;
}

.pricing__card--two {
      min-height: 11rem;
}

@media (max-width: 1250px) {
      .pricing__cards {
            flex-direction: column;
      }

      .pricing-card__header {
            display: flex;
            flex-direction: column;
      }

      .pricing-card__header h3 {
            margin-bottom: 0.2rem;
      }

      .pricing__card--one, .pricing__card--three {
            width: 60%;
      }

      .pricing__card--two {
            width: 80%;
      }
}

@media (max-width: 1024px) {
      .pricing__content .card-long .card__title {
            text-align: center;
      }
}